<table class="table table-striped table-bordered">
  <tr>
    <th>Gem</th>
    <th>Summary</th>
    <th>Dependancies</th>
  </tr>

  <% @specs.each do |spec| %>
    <tr>
      <td><%= link_to "#{spec.name} #{spec.version}", spec.homepage %></td>
      <td><%= link_to spec.summary, open_path( :gem => spec.name ) %></td>
      <td>
        <ul>
          <% spec.dependencies.each do |dep| 
            spec = Bundler.definition.specs[dep.name].first
            %>
            <li>
              <% if spec %>
                <%= link_to dep.name, spec.homepage %>
              <% else %>
                <%= dep.name %>
              <% end %>
              <%= "(#{dep.type}) #{dep.requirements_list.join( ", ")}" %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
