%table.table.table-striped.table-bordered
  %tr
    %th Gem
    %th Summary
    %th Dependancies

  - @specs.each do |spec|
    %tr
      %td= link_to "#{spec.name} #{spec.version}", spec.homepage
      %td= link_to spec.summary, open_path( gem: spec.name )
      / %td= spec.doc_dir
      %td
        %ul
          - spec.dependencies.each do |dep|
            %li= "#{dep.name} (#{dep.type}) #{dep.requirements_list.join( ", ")}"
